/* Google font Raleway */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

/* Moderní box model */
html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

/* tlaèítka */
.button {
    flex: 0 0 50%;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 14px;
    background-color: #dedede;
    color: #888;
    cursor: pointer;
}

    .button:hover {
        background-color: #c5c5c5;
    }

.button--active {
    background-color: #0099ff;
    color: white;
}

    .button--active:hover {
        background-color: #0088ee;
    }